@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Alumni Sans", sans-serif;
    font-size: 16px;
    background: white; 
    color: #333; 
}

.documentation-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #0070d2;
    transition: color 0.3s, transform 0.3s;
}

h1:hover, h2:hover, h3:hover {
    color: #005bb5;
    transform: scale(1.05);
}

.phase-details {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s forwards;
}

button {
    background-color: #0070d2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #005bb5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.svg-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.phase-text {
    cursor: pointer;
    fill: #0070d2;
    font-size: 1em;
    font-weight: bold;
    transition: fill 0.3s, transform 0.3s;
}

.phase-text:hover {
    fill: #005bb5;
    transform: scale(1.1);
}

.center-text {
    fill: #333;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.arrow {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
    .flash-animation {
        stroke-opacity: 0; 
        animation: flash 1s ease-in-out alternate infinite;
      }
      
      @keyframes flash {
        from { stroke-opacity: 1; }
        to { stroke-opacity: 0; }
      }
      
      ul {
        list-style-type: none;
        padding: 0;
    }
    
    li {
        margin-bottom: 20px;
    }
    
    .animated-text {
        opacity: 0.2;
        transform: translateY(20px) scale(0.9);
        transition: opacity 0.5s ease, transform 0.5s ease; 
    }
    
    .animated-text:hover {
        opacity: 1;
        transform: translateY(0) scale(1); 
    }
    .image {
        width: 80%; /* Adjust width as needed */
        display: inline-block; /* Display images side-by-side */
        margin: 0 10px; /* Add spacing between images */
      }
      
      .image:hover {
        transform: scale(1.2);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
      }
      
      