
  <nb-card size="medium">
    <nb-card-body>
      <nb-stepper orientation="vertical">
        <nb-step *ngFor="let section of sections" [label]="section.title">
          <nb-flip-card>
            <nb-card-front>
              <nb-card>
                <nb-card-body>
                  <h2>{{ section.title }}</h2>
                  <br>
                  <p>{{ section.content }}</p>
                  <br>
                  <img [src]="section.imageUrl" alt="{{ section.title }}" style="max-width: 200px; max-height: 200px;" />
                </nb-card-body>
              </nb-card>
            </nb-card-front>
        <nb-card-back>
            <nb-card style="background-color: rgba(56, 56, 56, 0.387);">
              <nb-card-body>
                <div class="button-container">
                  <button class="button edit-button" (click)="editSection(section)">Edit</button>
                  <button class="button delete-button" (click)="deleteSection(section.id)">Delete</button>
                </div>
                

                <form *ngIf="notauth" [formGroup]="sectionForm" (ngSubmit)="onSubmit()">
                  <input formControlName="id" type="hidden" />
                  <div class="form-container">
                    <div class="form-field">
                      <label for="title">Title</label>
                      <input id="title" formControlName="title" type="text" placeholder="Enter title" />
                      <div *ngIf="sectionForm.get('title')?.invalid && (sectionForm.get('title')?.dirty || sectionForm.get('title')?.touched)">
                        <div *ngIf="sectionForm.get('title')?.errors?.required" style="color: red;">Title is required.</div>
                        <div *ngIf="sectionForm.get('title')?.errors?.minlength" style="color: red;">Title must be at least 5 characters long.</div>
                      </div>
                    </div>
                
                    <div class="form-field">
                      <label for="content">Content</label>
                      <textarea id="content" formControlName="content" placeholder="Enter content"></textarea>
                      <div *ngIf="sectionForm.get('content')?.invalid && (sectionForm.get('content')?.dirty || sectionForm.get('content')?.touched)">
                        <div *ngIf="sectionForm.get('content')?.errors?.required" style="color: red;">Content is required.</div>
                        <div *ngIf="sectionForm.get('content')?.errors?.minlength" style="color: red;">Content must be at least 10 characters long.</div>
                      </div>
                    </div>
                
                    <div class="form-field">
                      <label for="image">Select Image</label>
                      <input id="image" type="file" (change)="onFileSelect($event)" />
                    </div>
                
                    <div *ngIf="previewUrl">
                      <img [src]="previewUrl" alt="Image Preview" style="max-width: 100px; max-height: 100px;" />
                    </div>
                
                    <button class="button save-button" type="submit" [disabled]="sectionForm.invalid">Save</button>
                  </div>
                </form>
              </nb-card-body>
            </nb-card>
        </nb-card-back>
          </nb-flip-card>
   

    </nb-step>
    </nb-stepper>
    </nb-card-body>
    </nb-card>

  
    <div class="col-md-12 col-lg-6 col-xxxl-3">
        <nb-card-header>Create more sections</nb-card-header>
        <nb-card-body class="result-from-dialog">
          <button class="add-button" (click)="open()">+</button>
        </nb-card-body>
        
    </div>
    <button class="btn-go-back" (click)="goBack()">
          <nb-icon icon="arrow-left-outline"></nb-icon>
      </button>